# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment variables
.env
*.env
.env.*
!.env.example

# Specific project environment file
etl/.env

# IDE / OS specific
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Poetry
poetry.lock # Often committed, but can be ignored in some monorepo strategies if needed

# Meltano
.meltano/
output/
